@import './fonts.css';

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Avenger';
}

button {
    font-family: 'Avenger';
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.65);
}

input,
textarea {
    font-family: 'Inconsolata';
}


#root {
    height: 100%;
}

.App {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}